<html>
<head>

<style type="text/css">
#wrap {
    font-size: small;
    border-spacing:5px;
}
.stripred {
    background-color: #D52100;
}
.stripgreen {
    background-color: #6AA63B;
}
.topstrip {
    padding:7px;
    color: #ffffff;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
}
#divstatus {
    font-size:x-small;
}
#online_users {
    height: 280px;
    overflow: scroll;
    border: 1px solid black;
}
#online_users_t {
    width: 100%;
}
#chatt {
    height: 260px;
    overflow: scroll;
    border: 1px solid black;
}
</style>
</head>
<body>
</body>
</html>